@font-face {
	font-family: "DMSans SemiBold";
	src: url("assets/fonts/DMSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "DMSans";
    src: url("assets/fonts/DMSans-Regular.ttf");
}
#page {
    position: absolute;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#page .container {
    width: auto;
}
#cs-title {
    margin-left: 30%;
    margin-right: 30%;
}
.logo {
    max-width: 15vw;
    height: auto;
}
.text-thin {
    font-family: "DMSans Thin";
    background-color: #fff;
    margin: 0;
    padding: 0.5rem;
}
.form-container {
    min-height: 75px;
}
.fadeIn {
    animation: fadeIn 1s linear forwards;
}
.delay {
    opacity: 0;
    animation-delay: 0.75s;
}
.delay-2 {
    opacity: 0;
    animation-delay: 1.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .logo {
        max-width: 25vw;
    }
}

@media (max-width: 576px) {
    .logo {
        max-width: 50vw;
    }
    #cs-title {
        margin-left: 20%;
        margin-right: 20%;
    }
}